<footer>
   <div
      [ngClass]="'tp-footer-area ' + (primary_style ? 'tp-footer-style-2 tp-footer-style-primary tp-footer-style-6' : '') + ' ' + (style_2 ? 'tp-footer-style-2' : style_3 ? 'tp-footer-style-2 tp-footer-style-3' : '')"
      [attr.data-bg-color]="style_2 ? 'footer-bg-white' : style_3 ? 'footer-bg-white' : 'footer-bg-grey'"
      data-bg-color="footer-bg-grey">
      <div class="tp-footer-top pt-60 pb-60">
         <div class="container">
            <div class="row">
               <div class="pb-2 col-xl-2 col-lg-2 col-md-4 col-sm-6 col-12 text-center">
                  <div class="tp-footer-logo">
                     <a [routerLink]="['/']">
                        <img src="assets/img/Logo_SVG/DLR Tech-Imagotipo Principal-Espacios Claros-RGB.svg" style="width: 180px;" alt="logo">
                     </a>
                  </div>
                  <p class="roboto-light small w-100" style="line-height: 1;">
                     Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui velit unde nobis delectus, dolorem
                  </p>
               </div>
               <div class="pb-1 col-xl-2 col-lg-2 col-md-4 col-sm-6 col-12 ps-5 text-xs-center px-xs-0">
                  <div class="tp-footer-widget footer-col mb-50">
                     <h4 class="fs-6 roboto-regular">Redes Sociales</h4>
                     <ul class="list-unstyled">
                        <li><a href="#"> <small class="roboto-light" style="line-height: 1;"> <i class="fa-brands fa-instagram"></i> Instagram</small></a></li>
                        <li><a href="#"> <small class="roboto-light" style="line-height: 1;"> <i class="fa-brands fa-facebook"></i> Facebook</small></a></li>
                     </ul>
                  </div>
               </div>
               <div class="pb-1 col-xl-2 col-lg-2 col-md-4 col-sm-6 col-12 ps-5 text-xs-center px-xs-0">
                  <div class="tp-footer-widget footer-col mb-50">
                     <h4 class="fs-6 roboto-regular">Contactos</h4>
                     <small class="roboto-regular">Contactanos por:</small>
                     <ul class="list-unstyled">
                        <li><a href="#"> <small class="roboto-light" style="line-height: 1;">Llámanos: +58 434-999-999</small></a></li>
                        <li><a href="#"> <small class="roboto-light" style="line-height: 1;">{{'example@mail.com'}}</small></a></li>
                        <li><a href="#"> <small class="roboto-light" style="line-height: 1;">{{'dlr@dlr.com'}}</small></a></li>
                     </ul>
                  </div>
               </div>
               <div class="pb-1 col-xl-2 col-lg-2 col-md-4 col-sm-6 col-12 ps-5 text-xs-center px-xs-0">
                  <div class="tp-footer-widget footer-col mb-50">
                     <h4 class="fs-6 roboto-regular">Nosotros</h4>
                     <ul class="list-unstyled">
                        <li><a href="#"> <small class="roboto-light" style="line-height: 1;">Centro de Apoyo</small></a></li>
                        <li><a href="#"> <small class="roboto-light" style="line-height: 1;">Atención al Cliente</small></a></li>
                        <li><a href="#"> <small class="roboto-light" style="line-height: 1;">Sobre Nosotros</small></a></li>
                        <li><a href="#"> <small class="roboto-light" style="line-height: 1;">Derechos Reservados</small></a></li>
                     </ul>
                  </div>
               </div>
               <div class="pb-1 col-xl-2 col-lg-2 col-md-4 col-sm-6 col-12 ps-5 text-xs-center px-xs-0">
                  <div class="tp-footer-widget footer-col mb-50">
                     <h4 class="fs-6 roboto-regular">Atención al Cliente</h4>
                     <ul class="list-unstyled">
                        <li><a href="#"> <small class="roboto-light" style="line-height: 1;">FAQ y Ayuda</small></a></li>
                        <li><a href="#"> <small class="roboto-light" style="line-height: 1;">Envíos y Entrega</small></a></li>
                        <li><a href="#"> <small class="roboto-light" style="line-height: 1;">Cambios y Devoluciones</small></a></li>
                     </ul>
                  </div>
               </div>
               <div class="pb-1 col-xl-2 col-lg-2 col-md-4 col-sm-6 col-12 ps-5 text-xs-center px-xs-0">
                  <div class="tp-footer-widget footer-col mb-50">
                     <h4 class="fs-6 roboto-regular">Información</h4>
                     <ul class="list-unstyled">
                        <li><a href="#"> <small class="roboto-light" style="line-height: 1;">Políticas de Privacidad</small></a></li>
                        <li><a href="#"> <small class="roboto-light" style="line-height: 1;">Términos y condiciones</small></a></li>
                        <li><a href="#"> <small class="roboto-light" style="line-height: 1;">Política de Reembolso</small></a></li>
                        <li><a href="#"> <small class="roboto-light" style="line-height: 1;">Nuestra Ubicación</small></a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</footer>